.profile-page {
  display: flex;
  align-items: flex-start;
  height: 75vh;
  color: #fff;
  background-size: cover;
  background-position: center;
  padding-top: 80px;
  position: relative;
}

.profile-page::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 150px;
  background: linear-gradient(to bottom, rgba(20,20,20,0) 0%, #141414 100%);
  z-index: 1;
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

@media (max-width: 768px) {
  .profile-page {
    height: 100vh;
    padding-bottom: 5rem;
  }
}
